.link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 50%;
  transition: opacity .5s, background-size .5s;
}

.link:hover {
  opacity: 60%;
  background-size: 100% 2px;
}
